<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome_do_projeto %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :servico_prestado %>
    <%= form.text_area :servico %>
  </div>

  <div class="field">
    <%= form.label :responsavel_pelo_projeto %>
    <%= form.text_area :responsavel %>
  </div>

  <div class="actions">
    <%= form.submit "Salvar" %>
  </div>
<% end %>
